// グローバルナビゲーション


// 変数、ミックスイン、関数
@use "../../global" as g;


.gNav {

  // ボタン
  &__btn {
    position: relative;
    z-index: 1;
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    &Icon {
      font-size: 30px;

      &--open {
        color: g.$grayColor2;

        .is-gNavOpen & {
          display: none;
        }
      }

      &--close {
        display: none;
        color: g.$whiteColor;

        .is-gNavOpen & {
          display: revert;
        }
      }
    }
  }

  // メニュー
  @include g.mq(md-max) {
    &__list {
      position: fixed;
      inset: 0 -100% 0 100%;
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      justify-content: center;
      align-items: center;
      background-color: rgba(#4E483A, 0.9);
      color: g.$whiteColor;
      transition: transform 0.3s;

      .is-gNavOpen & {
        transform: translateX(-100%);
      }
    }
  }

  @include g.mq() {
    &__btn {
      display: none;
    }

    &__list {
      display: flex;
      column-gap: 40px;
    }

    &__item {
      color: g.$grayColor1;
    }
  }
}


// 画面がスクロールされないようにする。
html.is-gNavOpen,
html.is-gNavOpen body {
  position: fixed;
  inset: 0;
  overflow-y: hidden;
}
