<header class="header l-container">
  <a class="header__link" href="/">
    <img class="header__logo" src="/images/common/logo.svg" alt="Boards" width="135" height="26">
  </a>

  <nav class="gNav">
    <button class="gNav__btn" id="js-gNavBtn" type="button">
      <i class="gNav__btnIcon gNav__btnIcon--open fa-solid fa-bars"></i>

      <i class="gNav__btnIcon gNav__btnIcon--close fa-solid fa-xmark"></i>

      <span class="sr-only">MENU</span>
    </button>

    <ul class="gNav__list">
      <li class="gNav__item">
        <a class="gNav__link" href="/">ホーム</a>
      </li>

      <li class="gNav__item">
        <a class="gNav__link" href="/service/">サービス案内</a>
      </li>

      <li class="gNav__item">
        <a class="gNav__link" href="/contact">お問い合わせ</a>
      </li>
    </ul>
  </nav>
</header>
