// ベース

// 変数 / ミックスイン / 関数
@use "../global/" as g;


* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: sans-serif;
  color: g.$textColor;
}

p {
  line-height: 1.8;
}

ul {
  list-style-type: none;
}

a {
  text-decoration-line: none;
  color: inherit;

  &:hover {
    filter: brightness(90%) contrast(120%);
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
