// レイアウト


// 変数 / ミックスイン / 関数
@use "../global" as g;


// コンテナ
.l-container {
  width: min(92%, 1166px);
  margin-inline: auto;
}

.l-md-container {
  width: min(92%, 720px);
  margin-inline: auto;
}
